#conversation-navigator-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  min-width: 300px;
  height: 100vh;
  background: #111827;
  color: white;
  z-index: 999999;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  overflow-y: auto;
  border-left: 1px solid #374151;
}

#conversation-navigator-sidebar h2 {
  font-size: 16px;
  margin: 0 0 12px;
}

#conversation-navigator-sidebar button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

/* Hidden State */
#conversation-navigator-sidebar.navigator-hidden {
  display: none !important;
}

#toggle-sidebar-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  z-index: 1000000;
  border-radius: 50%;
  background: #3e578d;
  color: gray;
  border: none;
}

.navigator-item {
  padding: 8px;
  margin-top: 6px;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navigator-item:hover {
  background: #374151;
}

#navigator-tooltip {
  position: fixed;
  right: 320px;
  top: 80px;

  width: 420px;
  max-height: 70vh;

  overflow-y: auto;

  background: #0b1d42;
  color: white;

  border: 1px solid #374151;
  border-radius: 10px;

  padding: 12px;

  white-space: pre-wrap;
  line-height: 1.5;

  z-index: 1000001;

  display: none;
}

#navigator-tooltip.visible {
  display: block;
}
